.root{
    -fx-font-size: 16pt;
    -fx-font-family: "Helvetica";
    -fx-background: #cccccc;
}

.button { 
    -fx-background-color: #73000A;
    -fx-text-fill: white;
}
.signin_page{
    -fx-background-image:url("imgs/banner_horseshoe_gates.jpg");
    
}
.signup_page{
    -fx-background-image:url("imgs/banner_horseshoe_gates.jpg");
    
}

#login-label {
    -fx-text-fill: #73000A;
}